{% extends "master.html" %}
{% block scripts %}
	<script type="text/javascript" src="http://js.sapo.pt/Bundles/SAPOMapsAPI-1.0.js"></script>
	<script type="text/javascript">
		window.onload = init;
		var map, search;
		function init(){
			map = new SAPO.Maps.Map('mapDiv');
			search = new SAPO.Maps.Search(map, 'results');
			search.registerEvent('completed', this, completed);
			search.registerEvent('selected', this, getDirections);
			map.setBaseLayer(map.getBaseLayers().HYBRID_MAP);
			map.addControl(new SAPO.Maps.Control.MapType());
			map.addControl(new SAPO.Maps.Control.Navigation());
			map.addControl(new SAPO.Maps.Control.MiniMap());
			var marker = new SAPO.Maps.Marker(
				new OpenLayers.LonLat(
					{{spot.longitude}},
					{{spot.latitude}}), 
					{draggable: false});
			map.addOverlay(marker);
			marker.registerEvent('click', this, function(marker){
				marker.openPopup('<b>{{spot.nome}}</b><br><img width=160 height=110 src="{{spot.foto}}"/>');
			});
			map.setMapCenter(new OpenLayers.LonLat({{spot.longitude}},{{spot.latitude}}), 18)
		}
		
		function getDirections(search){
			map.destroy();
			init();
			var dir = new SAPO.Maps.Directions(map, 'results');
			var select = document.getElementById('mode');
			var mode = select.options[select.selectedIndex].value;
			dir.registerEvent("completed", this, function(directions){
				var x = 1;
			});
			dir.getDirections(
				new OpenLayers.LonLat(search.getPOIS()[search.getSelectedIndex()].Longitude, search.getPOIS()[search.getSelectedIndex()].Latitude), 
				new OpenLayers.LonLat({{spot.longitude}},{{spot.latitude}}), 
				{mode: mode}
			);
		}
		
		var search;
		function getResults(){
			var query = document.getElementById('from').value;
			if(query.length == 0){
				alert("Deve introduzir um ponto de partida.");
				return;
			}
			search.search(query);
		}
		
		function completed(search){
			var pois = search.getPOIS();
			var length = pois.length;
		}
	</script>
{% endblock %}
{% block title %} <title>{{ spot.nome }} no Mapa</title> {% endblock %}
{% block content %}
	<h1><span id="title">{{spot.nome}}</span></h1>
	<div id='mapDiv' style='width:70%; height:400px; float: left'></div>
	<div id='results' style='width:30%; float: right; height:400px; overflow-y: scroll;'></div>
	<div style='clear: both;'>
		<br>
		Obter direcções a partir de: <input id='from' type="text"></input>
		<select id='mode'>
			<option value='fastest'>Fastest</option>
			<option value='shortest'>Shortest</option>
			<option value='walk'>Walking</option>
		</select>
		<input type="button" onclick="getResults()" value="Go">
		<!-->Substituir getDirections() por getResults() para obter o resultado do Search<-->
		<p><a href="/spots/{{spot.id}}">Voltar</a><p>
	</div>
{% endblock %}