{% extends "master.html" %}
{% block title %} <title>{{ spot.nome }}</title> {% endblock %}
{% block content %}
	<!--><h1>{{spot.nome}}</h1><-->
	<h1><span id="title">{{spot.nome}}</span></h1>
	<a href = '{{ spot.foto }}'><img width=160 height=110 src='{{ spot.foto }}'/></a>
	<p><b>Descrição:</b> {{ spot.descricao }}</p>
	<p><b>Categoria(s)</b></p>
	<ul>
		{% for cat in spot.categoria.all %}
			<li>{{ cat.nome }}</li>
		{% endfor %}
	</ul>
	<p><b><a href="/spots/{{ spot.id }}/map">Ver no Mapa</a></b></p>
	<p><a href="/spots/page/1">Voltar</a><p>	
{% endblock %}